<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <a href="/">Index</a>
        <a href="/register">Register</a>
        <br><br>
        <%if(error == 1){%>
            <p style="color:red">Error logging in</p>
        <%} %>
        <%if(error == 2){%>
            <p style="color:red">You are not logged in</p>
        <%} %>
        <form action="/login" method="post">
            <label for="username">Username : </label><br>
            <input type="text" name="username" placeholder="Username..."><br>
            <label for="password">Password : </label><br>
            <input type="password" name="password" placeholder="Password..."><br>
            <input type="submit">
        </form>
    </body>
</html>
