<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h1>Title:  <%= data.title %></h1>
        <p>id :  <%= data.id %></p>
        <p>Description : <%= data.descr %></p>
        <a href="/">Index</a>
        <a href="/news">Back</a>
    </body>
</html>
