<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <a href="/">Index</a>
        <a href="/login">Login</a>
        <%if(error === "passlength"){%>
            <p style="color:red">Password must be longer than 8 symbols</p>
        <%} %>
        <%if(error === "already"){%>
            <p style="color:red">This username is taken. Please choose another</p>
        <%} %>
        <br><br>
        <form action="/register" method="post">
            <label for="username">Username : </label><br>
            <input type="text" name="username" placeholder="Username..."><br>
            <label for="password">Password : </label><br>
            <input type="password" name="password" placeholder="Password..."><br>
            <label for="name">Name : </label><br>
            <input type="text" name="name" placeholder="Name..."><br>
            <label for="city">City : </label><br>
            <input type="text" name="city" placeholder="City..."><br>
            <input type="submit">
        </form>
    </body>
</html>
